html {
font:normal 100%/2em Comic sans MS,Verdana,Helvetica,Arial,sans-serif;
background-image: url(../Images/Fonddesite.jpg);
background-attachment:fixed;

}

fieldset {
 		display:block;
 		width:50%;
		border: 1px dotted #353535;
		padding:2px;
 		overflow:hidden;  
		float: center;	
}
/*
label {
	background:transparent none;
	display: block;
	width: 20%;
	float: left;
	padding-right: 1%;
	text-align: left;
}

input {
	margin-left: 1%;
	width: 30%;
	border: #CCC 1px solid;
}



input:hover, #ent input:focus {
	border: #999 1px solid;
	background-color: #DDEEFF;
}


input[type="submit"]
{
	border: #DDEEFF 1px solid;
	width: 40%;
}
*/
.erreur{   
   color:rgb(203,28,128);
   font-size:1.1em;
   width:95%;
   color: #FF0000;
}
.message{ 
    color:rgb(203,28,128);
   font-size:1.1em;
   width:95%;
   color: #FF0000;
   
}

#tabClient {
 border-width:1px; 
  
 border-color:black;
 width:50%;
 }

 td{
 border-width:1px;
 border-style:solid; 
 border-color:black;
 width:50%;
 
}
#bandeau {
 background-color: white;
}

#menu{
height: 3em ;

}

#categories{
float:left;

}

#produits{
padding:0 150px;
}

#contenu{

}

#menu li, #menu li:hover {
		list-style-type: none;
		list-style-image:none;
		float: left ; 
		text-align: center;
    width: 200px ; 
    border: 1px solid #200 ; 
    margin-right: 1px ; 
    color: rgb(181,164,168);
    background: #F8F8FF ;
}


#menu li a , #categories li a {
		text-decoration:none;
}

#categories li {
		list-style-type: none;
		list-style-image:none;
		margin-right: 1px ;
    border:1px solid #600;
    width:100px;
    text-align:center;
	background-color: #6495ED;
	position:relative;
}


#produits li, #produits li a {
		list-style-type: none;
		list-style-image:none;
		display:inline; 
    width:175px;
    text-align:center;
    height:205px;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
}

#produits ul{
}

#corps{
margin-left: 10% ;
margin-right: 10% ;
background-color: #6495ED;
}

